html {
    scroll-behavior: smooth;
}

body {
    font-family: "Courier New", times;
    background-color: #F0F0F0;
}

nav ul {
    background-color: #6D6D6D;
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    align-self: flex-start;
    border-radius: 5px;
}

nav li{
    display: inline;
}

nav a {
    color:white;
    text-decoration: none;
    margin-right: 40px;
}

nav li a:hover {
    font-weight: bold;
    background-color: black;
    padding: 15px;
}

#me {
    max-width: 400px;
    border-radius: 50%;
}

#header {
    font-family: "Palatino", "times";
    width: 100%;
    height: 600px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    max-width: 700px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 7%;
}

.fa-envelope, .fa-linkedin, .fa-github {
    color: black;
    padding: 48px;
}

.fa-envelope:hover, .fa-linkedin:hover, .fa-github:hover {
    color:green;
}

h1 {
    justify-content: center;
}

h1, h2{
    font-family: "Palatino", "times";
    display: flex;
}

#mvc-proj, #matrix-proj, #perm-proj {
    display: flex;
    justify-content: center;
    font-family: "Palatino", "times";
    background-color: #6D6D6D;
    border-radius: 15px;
    padding: 48px;
    margin: 20px;

}

#personal-info, #work-history {
    padding: 48px;
}

.proj-redirect {
    width: 90px;
    padding: 5px;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #20368F;

    display: flex;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
}

section a:hover {
    color: gray;
}


section:nth-child(even) {
    background-color: #829CD0;
    padding: 10px;
    border-radius: 10px;
}